<a href="https://colab.research.google.com/github/agmorcillo/Coursera_Capstone/blob/main/Practica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import numpy as np
import pandas as pd
import csv
import html5lib

In [54]:
path = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

data = pd.read_html(path)
df = pd.concat(data)
df.head()

     0    1    2  ...           Borough              Neighbourhood Postal Code
0  NaN  NaN  NaN  ...      Not assigned               Not assigned         M1A
1  NaN  NaN  NaN  ...      Not assigned               Not assigned         M2A
2  NaN  NaN  NaN  ...        North York                  Parkwoods         M3A
3  NaN  NaN  NaN  ...        North York           Victoria Village         M4A
4  NaN  NaN  NaN  ...  Downtown Toronto  Regent Park, Harbourfront         M5A

[5 rows x 21 columns]

In [51]:
df.dtypes

0                object
1                object
2                object
3                object
4                object
5                object
6                object
7                object
8                object
9                object
10               object
11               object
12               object
13               object
14               object
15               object
16               object
17               object
Borough          object
Neighbourhood    object
Postal Code      object
dtype: object

In [59]:
new_df = df.dropna(subset=['Neighbourhood']).groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(','.join)

In [62]:
new_df.head()

Postal Code  Borough
M1A          Not assigned                              Not assigned
M1B          Scarborough                             Malvern, Rouge
M1C          Scarborough     Rouge Hill, Port Union, Highland Creek
M1E          Scarborough          Guildwood, Morningside, West Hill
M1G          Scarborough                                     Woburn
Name: Neighbourhood, dtype: object

In [61]:
new_df.shape

(180,)